.idea/**
.vs/**

/Samples/ExampleUnityProject/UserSettings/Layouts/default-2023.dwlt
/Samples/ExampleUnityProject/UserSettings/Search.index
/Samples/ExampleUnityProject/UserSettings
/Samples/PrefabTiling/UserSettings
